[submodule "site-lisp/emacs-for-python"]
	path = site-lisp/emacs-for-python
	url = https://github.com/gabrielelanaro/emacs-for-python
[submodule "site-lisp/markdown-mode"]
	path = site-lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "Emacs-langtool"]
	path = Emacs-langtool
	url = https://github.com/mhayashi1120/Emacs-langtool
[submodule "site-lisp/Emacs-langtool"]
	path = site-lisp/Emacs-langtool
	url = https://github.com/mhayashi1120/Emacs-langtool
[submodule "site-lisp/writegood-mode"]
	path = site-lisp/writegood-mode
	url = https://github.com/bnbeckwith/writegood-mode
[submodule "site-lisp/exec-path-from-shell"]
	path = site-lisp/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell
